.navbar {
    position: fixed;
    z-index: 5;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ededed;
    background: #fff;

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px 5vw 0;
        list-style: none;

        @media (min-width: 900px) {
            justify-content: unset;
            margin: 20px 0 0 5vw;
        }
    }

    .menuWrapper {
        position: absolute;
        top: 60px;
        left: 0;
        display: flex;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #fff;

        &.mobileOpened {
            display: flex;
            border-bottom: 1px solid #ededed;
        }

        @media (min-width: 900px) {
            position: relative;
            top: 0;
            left: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom-color: transparent;
            background: transparent;
        }
    }

    .menuList {
        width: 100%;
        padding: 0;
        list-style: none;

        @media (min-width: 900px) {
            display: flex;
            flex-direction: row;
            width: unset;
        }
    }

    .menuItem {
        position: relative;
        width: 100%;
        margin-right: 40px;
        padding: 10px 0;
        border-bottom: 1px solid #ededed;

        &:hover,
        &:focus-within {

            > .menuLink {
                color: var(--color-yellow);
            }

            .menuDropdown {
                top: calc(100% - 10px);
                visibility: visible;
                opacity: 1;
            }
        }

        @media (min-width: 900px) {
            width: unset;
            margin-right: 40px;
            padding: 20px 0;
            border-bottom: none;
        }
    }

    .menuLink {
        display: inline-block;
        width: 100%;
        padding: 0;
        font-size: 1em;
        font-weight: 500;
        color: #555;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .2s linear;
        
        @media (min-width: 900px) {
            width: unset;
            border-bottom: 2px solid transparent;
            text-align: left;
        }
    }

    .languageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuLanguageSwitcher {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .menuInitials {
        border-bottom: 2px solid transparent;
        font-size: 2em;
        font-weight: 600;
        color: var(--color-yellow);
        text-decoration: none;
    }

    .menuDropdown {
        position: absolute;
        z-index: 1;
        top: 120%;
        left: 0;
        display: none;
        min-width: 200px;
        padding: 0;
        border: none;
        border-radius: 0;
        text-align: left;
        list-style: none;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
        transition: all .2s ease-in;

        .menuItem {
            margin-right: 0;
            margin-left: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ededed;
        }

        .menuLink {
            display: block;
            margin-right: 0;
            padding: 0 20px;
            color: #05364d;
            text-transform: none;
        }

        @media (min-width: 900px) {
            display: block;
        }
    }

    .linkActive {
        border-bottom-color: var(--color-yellow);
    }

    .hamburgerWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 5vw;

        @media (min-width: 900px) {
            display: none;
        }
    }

    .hamburgerButton {
        cursor: pointer;
        display: inline-block;
        border: none;
        background: transparent;
        outline: none;

        span {
            display: block;
            width: 35px;
            height: 4px;
            margin: 5px 0;
            background-color: #555;
            transition: all .2s ease;
        }

        &.active {

            span:nth-child(1) {
                transform: translate(0, 9px) rotate(-45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translate(0, -9px) rotate(45deg);
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        a {
            --margin: 1em;

            cursor: pointer;
            color: #555;
            transition: color .2s linear;

            &:hover,
            &:focus {
                color: var(--color-yellow);
            }

            &:not(:first-of-type) {
                margin-left: var(--margin);
            }

            @media (min-width: 900px) {
                --margin: .75em;
            }
        }

        svg {
            width: 1.5em;
        }

        .languageSwitcher {
            margin-left: 1.5em;
            border-color: #555;
            color: #555;
        }

        @media (min-width: 900px) {
            margin-right: 5vw;
            margin-left: auto;
        }
    }

    .mobileLanguageSwitcher {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    .desktopLanguageSwitcher {
        display: none;
    }

    @media (min-width: 900px) {

        &.homeVariant {
            position: absolute;
            overflow-x: clip;
            border-bottom-color: transparent;
            background: transparent;
        }
    }

    @media (min-width: 900px) {

        .mobileLanguageSwitcher {
            display: none;
        }

        .desktopLanguageSwitcher {
            display: flex;
        }
    }
}
