.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    background: #fff;
    border-bottom: 1px solid #ededed;

    &.homeVariant {
        background: transparent;
        border-bottom-color: transparent;
    }

    .menu {
        width: 100%;
        margin: 10px 5vw 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        @media (min-width: 900px) {
            margin: 20px 0 0 5vw;
            justify-content: unset;
        }
    }

    .menuWrapper {
        width: 100%;
        display: flex;
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;

        &.mobileOpened {
            display: flex;
            border-bottom: 1px solid #ededed;
        }

        @media (min-width: 900px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            top: 0;
            left: 30px;
            background: transparent;
            border-bottom-color: transparent;
        }
    }

    .menuList {
        width: 100%;
        padding: 0;
        list-style: none;

        @media (min-width: 900px) {
            width: unset;
            display: flex;
            flex-direction: row;
        }
    }

    .menuItem {
        width: 100%;
        margin-right: 40px;
        padding: 10px 0;
        position: relative;
        border-bottom: 1px solid #ededed;

        &:hover,
        &:focus {

            > .menuLink {
                color: var(--color-yellow);
            }

            .menuDropdown {
                top: calc(100% - 10px);
                opacity: 1;
                visibility: visible;
            }
        }

        @media (min-width: 900px) {
            width: unset;
            margin-right: 40px;
            padding: 20px 0;
            border-bottom: none;
        }
    }

    .menuLink {
        width: 100%;
        padding: 0;
        display: inline-block;
        color: #555;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .2s linear;
        
        @media (min-width: 900px) {
            width: unset;
            text-align: left;
            border-bottom: 2px solid transparent;
        }
    }

    .menuInitials {
        color: var(--color-yellow);
        font-size: 2em;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }

    .menuDropdown {
        min-width: 200px;
        padding: 0;
        display: none;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        text-align: left;
        list-style: none;
        transition: all .2s ease-in;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
        border-radius: 0;
        border: none;

        .menuItem {
            margin-right: 0;
            margin-left: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ededed;
        }

        .menuLink {
            margin-right: 0;
            padding: 0 20px;
            display: block;
            color: #05364d;
            text-transform: none;
        }

        @media (min-width: 900px) {
            display: block;
        }
    }

    .linkActive {
        border-bottom-color: var(--color-yellow);
    }

    .hamburgerButton {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none;

        span {
            width: 35px;
            height: 4px;
            margin: 5px 0;
            display: block;
            background-color: #555;
            transition: all .2s ease;
        }

        &.active {

            span:nth-child(1) {
                transform: translate(0, 9px) rotate(-45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translate(0, -9px) rotate(45deg);
            }
        }

        @media (min-width: 900px) {
            display: none;
        }
    }

    .socials {
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        a {
            --margin: 1em;
            cursor: pointer;
            color: #555;
            transition: color .2s linear;

            &:hover,
            &:focus {
                color: var(--color-yellow);
            }

            &:not(:first-of-type) {
                margin-left: var(--margin);
            }

            @media (min-width: 900px) {
                --margin: .75em;
            }
        }

        svg {
            width: 1.5em;
        }

        @media (min-width: 900px) {
            margin-right: 5vw;
            margin-left: auto;
        }
    }
}
