.card {
    flex-basis: auto;
    margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    color: inherit;
    text-align: left;
    text-decoration: none;
    transition: color .15s ease, border-color .15s ease;

    &:hover,
    &:focus,
    &:active {
        border-color: var(--color-yellow);
    }

    .heading {
        margin: 0 0 1rem;
        font-size: 1.5rem;
        color: var(--color-yellow);
    }

    .text {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    @media (min-width: 900px) {
        flex-basis: 45%;
        margin: 1rem;
    }
}
