.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    overflow: hidden;

    .blob {
        width: 70vw;
        margin: 5vh auto 0;

        @media (min-width: 900px) {
            max-width: 34vw;
            margin: 20vh 0 5vh 5vw;
            padding: 0 20px 0 0;
            position: fixed;
        }
    }
    
    .content {
        max-width: 500px;
        margin: 50px auto 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
            color: #111;
            font-size: 1.125em;
            line-height: 1.5em;
            font-weight: 300;
        }

        strong {
            color: #111;
            font-weight: 600;
        }

        @media (min-width: 900px) {
            max-width: 40vw;
            margin: 20vh 0 5vh 40vw;
            padding: 0 20px 0 0;
        }
    }

    @media (min-width: 900px) {
        flex-direction: row;
    }
}
