.page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        display: flex;
        flex-flow: column wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 10vh 0 0;
        padding: 20px;

        @media (min-width: 900px) {
            flex-direction: row;
            max-width: 1200px;
            margin: 20vh auto 0;
        }
    }

    .heading {
        margin: 0 0 .5rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;

        @media (min-width: 900px) {
            font-size: 2rem;
        }
    }

    .text {
        display: inline-block;
        margin: 0 0 30px;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;

        @media (min-width: 900px) {
            margin: 0 0 60px;
        }
    }
}

.linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 0;
    padding: 0;
    list-style: none;

    .linkListItem {
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;

        &:hover,
        &:focus {

            button {
                color: var(--color-yellow);
            }
        }

        & + .linkListItem {
            border-top: 1px solid var(--color-yellow);
        }

        @media (min-width: 900px) {
            margin: 0;
        }
    }

    button {
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 1rem 0;
        border: none;
        color: #222;
        text-decoration: none;
        background-color: transparent;
        transition: color .2s ease-in-out;
    }
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;
    padding: 100px 5px;
    border: 0;
    background-color: rgba(0, 0, 0, .9);
}
  

.modalContent {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 25px;
    background: #f1f1f1;
}

.modal[open] {
    display: block;
}

.modal::backdrop {
    background: rgba(0, 0, 0, .9);
}
  
.close {
    cursor: pointer;
    position: fixed;
    top: 35px;
    right: 35px;
    padding: 0;
    border: 0;
    font-size: 45px;
    line-height: 1;
    color: #fff;
    background: transparent;

    &:hover,
    &:focus {

        path {
            fill: var(--color-yellow);
        }
    }

    path {
        fill: #fff;
        transition: fill .2s ease-in-out;
    }
}

@media only screen and (max-width: 700px) {

    .modalContent {
        width: 100%;
    }
}
