.page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin: 5vh 0 0;

        .cards {
            display: flex;
            flex-flow: column wrap;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
    
            @media (min-width: 900px) {
                flex-direction: row;
                width: 70%;
            }
        }

        .blob {
            display: none;

            @media (min-width: 900px) {
                display: flex;
                width: 30%;
            }
        }

        @media (min-width: 900px) {
            max-width: 1200px;
            margin: 20vh auto 0;
        }
    }
}
