.footer {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0 0 5vw;
    display: flex;
    background: #fff;
    color: #888;
    font-size: .8em;
    border-top: 1px solid #ededed;

    a {
        color: #888;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &.inline {
        width: auto;
        padding: 0;
        display: inline-flex;
        background: none;
        border: none;
    }
}
